 #map {
   height: 400px;
   width: 100%;
   background-color: grey;
 }
 h3 {
 	padding-top: 10px;
 }
.title {
 	text-align: center;
 	font-family: 'Sofia';
 	font-size: 22px;
 	background-color: pink;
 	height: 100px;
 	text-decoration: underline;
 }
 .wrap {
 	background-color: #3ce9eb;
 	padding: 10%;
 }
 body {
 	margin: 0;
 }